/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "am33xx.dtsi"

/include/ "am335x-agv-common.dtsi"

&cpu {
	/*
	 * To consider voltage drop between PMIC and SoC,
	 * tolerance value is reduced to 2% from 4% and
	 * voltage value is increased as a precaution.
	 */
	operating-points = <
		/* kHz    uV */
		800000	1300000
		600000  1112000
		300000   969000
	>;
};

&i2c2 {
	status = "disabled";
};

&am33xx_pinmux {
	userled_pins: pinmux_userled_pins {
		pinctrl-single,pins = <
			0x64 0x7	/* GPMC_A9 GPIO1[25], OUTPUT | MODE7 */
			0x68 0x7	/* GPMC_A10 GPIO1[26], OUTPUT | MODE7 */
			0x6C 0x7	/* GPMC_A11 GPIO1[27], OUTPUT | MODE7 */
		>;
	};
	gpmc_pins: pinmux_gpmc_pins {
		pinctrl-single,pins = <
			/* for fpga */
			0x20	0x30	/* gpmc_ad8.gpmc_ad8 MODE0 | INPUT | PULLUP */
			0x24	0x30	/* gpmc_ad9.gpmc_ad9 MODE0 | INPUT | PULLUP */
			0x28	0x30	/* gpmc_ad10.gpmc_ad10 MODE0 | INPUT | PULLUP */
			0x2C	0x30	/* gpmc_ad11.gpmc_ad11 MODE0 | INPUT | PULLUP */
			0x30	0x30	/* gpmc_ad12.gpmc_ad12 MODE0 | INPUT | PULLUP */
			0x34	0x30	/* gpmc_ad13.gpmc_ad13 MODE0 | INPUT | PULLUP */
			0x38	0x30	/* gpmc_ad14.gpmc_ad14 MODE0 | INPUT | PULLUP */
			0x3C	0x30	/* gpmc_ad15.gpmc_ad15 MODE0 | INPUT | PULLUP */
			0x80	0x08	/* gpmc_cscn1.gpmc_cscn1 MODE0 | OUTPUT */
			0x40	0x08	/* gpmc_a0.gpmc_a0 MODE0 */
			0x44	0x08	/* gpmc_a1.gpmc_a1 MODE0 */
			0x48	0x08	/* gpmc_a2.gpmc_a2 MODE0 */
			0x4C	0x08	/* gpmc_a3.gpmc_a2 MODE0 */
			0x50	0x08	/* gpmc_a4.gpmc_a4 MODE0 */
			0x54	0x08	/* gpmc_a5.gpmc_a5 MODE0 */
			0x58	0x08	/* gpmc_a6.gpmc_a6 MODE0 */
			0x5C	0x08	/* gpmc_a7.gpmc_a7 MODE0 */
			0x60	0x08	/* gpmc_a8.gpmc_a8 MODE0 */
			0x8C	0x32	/* gpmc_CLK.gpmc_wait1 MODE2 */
		>;
	};
	mmc1_pins: pinmux_mmc1_pins {
		pinctrl-single,pins = <
			0x190 0x2f /* GPIO3_14 (PIN_INPUT | MUX_MODE7) */
		>;
	};
	dcan0_pins: pinmux_dcan0_pins {
		pinctrl-single,pins = <
			0x178 0x12 	/* uart1_ctsn, SLEWCTRL_FAST | INPUT_PULLUP | MODE2 | TX */
			0x17c 0x32	/* uart1_rtsn, SLEWCTRL_FAST | RECV_ENABLE | INPUT_PULLUP | MODE2 | RX */
		>;
	};
	uart2_pins: pinmux_uart2_pins {
		pinctrl-single,pins = <
			0x180 0x30	/* uart1_rxd, MODE0 | PULLUP_EN | RXACTIVE */
			0x184 0x0	/* uart1_txd, MODE0 */
		>;
	};
	uart3_pins: pinmux_uart3_pins {
		pinctrl-single,pins = <
			0x150 0x31	/* spi0_clk, MODE1 | PULLUP_EN | RXACTIVE */
			0x154 0x01	/* spi0_d0, MODE1 */
		>;
	};
	uart4_pins: pinmux_uart4_pins {
		pinctrl-single,pins = <
			0x160 0x31	/* spi0_cs1, MODE1 | PULLUP_EN | RXACTIVE */
			0x164 0x01	/* lcd_enbkl eCAP0_in_PWM0_out, MODE1 */
		>;
	};
	uart6_pins: pinmux_uart6_pins {
		pinctrl-single,pins = <
			0xC0 0x34	/* lcd_data8, MODE4 | PULLUP_EN | RXACTIVE */
			0xC4 0x04	/* lcd_data9, MODE4 */
		>;
	};
	gpio_helper_pins: pinmux_gpio_helper_pins {
		pinctrl-single,pins = <
			0x60 0x7	/* GPMC_A8 GPIO1[24], OUTPUT | MODE7 --> USER LED */
			0x1ac 0x17	/* mcasp0_ahclkx GPIO3[21], OUTPUT_PULLUP | MODE7 --> UART5_DE */
			0x1a0 0x17	/* mcasp0_aclkr GPIO3[18], OUTPUT_PULLUP | MODE7 --> UART3_DE */
			0x1A8 0x17	/* mcasp0_axr1 GPIO3[20], OUTPUT_PULLUP | MODE7 --> FAN_PWR */
			/*0x19C 0x17	 mcasp0_ahclkr GPIO3[17], OUTPUT_PULLUP | MODE7 --> JL098_RST */
			/*0x1A8 0x17	 mcasp0_axr0 GPIO3[20],  | MODE7 --> JL098_INT */
		>;
	};
};

&ocp {
	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&userled_pins>;

		led0 {
			label = "beaglebone:green:usr0";
			gpios = <&gpio2 25 1>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		led1 {
			label = "beaglebone:green:usr1";
			gpios = <&gpio2 26 1>;
			linux,default-trigger = "mmc0";
			default-state = "off";
		};

		led2 {
			label = "beaglebone:green:usr2";
			gpios = <&gpio2 27 1>;
			linux,default-trigger = "cpu0";
			default-state = "off";
		};

/*		led3 {
			label = "beaglebone:green:usr3";
			gpios = <&gpio2 27 1>;
			default-state = "off";
			linux,default-trigger = "mmc1";
		};*/
	};

	gpio_helper {
		compatible = "gpio-of-helper";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_helper_pins>;

		/* declare your gpios */
		test_led {
			gpio-name = "test_led";
			gpio = <&gpio2 24 0x00>;	/* gpio2 is gpio1, active_low = 0 */
			output;
			init-high;
		};
		fan_power_en {
			gpio-name = "fan_power_en";
			gpio = <&gpio4 20 0x00>;		/* gpio4 is gpio3, active_low = 0 */
			output;
			init-low;
		};
		uart3_de {
			gpio-name = "uart3_de";
			gpio = <&gpio4 18 0x00>;		/* gpio4 is gpio3, active_low = 0 */
			output;
			init-low;
		};
		uart5_de {
			gpio-name = "uart5_de";
			gpio = <&gpio4 21 0x00>;		/* gpio4 is gpio3, active_low = 0 */
			output;
			init-low;
		};
	};
};

&cpsw_emac0 {
	phy_id = <&davinci_mdio>, <0>;
};

&cpsw_emac1 {
	phy_id = <&davinci_mdio>, <1>;
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	bus-width = <0x4>;
	cd-gpios = <&gpio4 14 0>; /* gpio3 is misnamed, 0 == GPIO_ACTIVE_HIGH */
	cd-inverted;
	status = "okay";
	/* vmmc-supply = <&ldo4_reg>; */
	ti,vcc-aux-disable-is-sleep;
};

&dcan0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dcan0_pins>;
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
	status = "okay";
};

&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart6_pins>;
	status = "okay";
};

&gpmc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&gpmc_pins>;
	ranges = <1 0 0x10000000 0x1000000>,	/* CS1: 16MB for fpga */
			 <2 0 0x20000000 0x1000000>;	/* CS2: 16MB for jl-098 */
	fpga@1,0 {
		reg = <1 0 0x1000000>;		/* CS1, offset 0 */
		bank-width = <2>;
		gpmc,device-width = <2>;
		gpmc,sync-clk-ps = <0>;		/* timings */
		gpmc,cs-on-ns = <0>;
		gpmc,cs-rd-off-ns = <80>;
		gpmc,cs-wr-off-ns = <70>;
		gpmc,adv-on-ns = <0>;
		gpmc,adv-rd-off-ns = <0>;
		gpmc,adv-wr-off-ns = <0>;
		gpmc,we-on-ns = <10>;
		gpmc,we-off-ns = <70>;
		gpmc,oe-on-ns = <10>;
		gpmc,oe-off-ns = <70>;
		gpmc,access-ns = <60>;
		gpmc,rd-cycle-ns = <70>;
		gpmc,wr-cycle-ns = <60>;
		gpmc,wr-access-ns = <10>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
	jl098@2,0 {
		reg = <3 0 0x1000000>;		/* CS2, offset 0 */
		bank-width = <2>;
		gpmc,device-width = <2>;
		gpmc,sync-clk-ps = <0>;		/* timings */
		gpmc,cs-on-ns = <0>;
		gpmc,cs-rd-off-ns = <90>;
		gpmc,cs-wr-off-ns = <90>;
		gpmc,adv-on-ns = <0>;
		gpmc,adv-rd-off-ns = <0>;
		gpmc,adv-wr-off-ns = <0>;
		gpmc,we-on-ns = <0>;
		gpmc,we-off-ns = <90>;
		gpmc,oe-on-ns = <0>;
		gpmc,oe-off-ns = <90>;
		gpmc,access-ns = <60>;		/* read access time */
		gpmc,rd-cycle-ns = <100>;
		gpmc,wr-cycle-ns = <60>;
		gpmc,wr-access-ns = <60>;
		gpmc,wait-on-read = "true";
		gpmc,wait-on-write = "true";
		gpmc,wait-pin = <1>;
		gpmc,wait-pin-polarity = <1>;
		gpmc,wait-monitoring-ns = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};
